div{
    background: blue;
    color: white;
    padding: 20px;
    text-align: center;
}
button{
    background: rgb(16, 246, 16);
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
}